.venv/
__pycache__/
.pytest_cache/
dist/
build/
*.egg-info/
.vscode/
.ruff_cache/
ncbi_data/
.ipynb_checkpoints/
dataset_ref/
ncbi_sequences/
results/
notebooks/
ssn_data/
.env
datasets/*
!datasets/aminoacyl/
datasets/aminoacyl/*
!datasets/aminoacyl/00_input/
paper/
